* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Ropest';
  src: url('./Ropest.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --garnet: hsl(0, 45%, 31%);
  --oxford-blue:hsl(213, 96%, 11%);
  --celestial-blue: hsl(208, 68%, 59%);
  --cream: #f8ffe5;
  --moonstone: hsl(189 43% 56%);
  --title-font: 'Ropest', 'Courier New', Courier, monospace;
  --page-font: monospace, sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 5rem 1fr;
}

header {
  display: grid;
  justify-items: center;
  align-items: stretch;
  background: var(--garnet);
  z-index: 1;
  transition: 300ms;
}

nav {
  display: grid;
  grid-template-rows: repeat(3, 2rem);
  justify-items: center;
  align-items: start;
  gap: 1rem;
  background: var(--garnet);
  max-width: 100%;
}

header:hover {
  width: 15rem;
  transform: scaleX(2);
}

button {
  height: 3rem;
  width: 5rem;
  border: none;
  background: var(--garnet);
  color: var(--cream);
}

button:hover {
  cursor: pointer;
}

button:active {
  background: hsl(208, 68%, 39%);
}

#content {
  display: grid;
  grid-template-rows: 10rem 1fr 5rem;
  justify-items: stretch;
  align-items: stretch;
  background: var(--celestial-blue);
}

.banner {
  display: grid;
  background: var(--oxford-blue);
  color: var(--cream);
}

.title {
  align-self: center;
  justify-self: center;
  font-size: 5rem;
  font-family: var(--title-font);
}

.container {
  display: grid;
  align-items: center;
  justify-items: center;
  background: var(--celestial-blue);
}

.restaurant {
  height: 40vh;
  width: auto;
  clip-path: ellipse();
}

.footcontainer {
  display: grid;
  align-items: center;
  justify-items: center;
  background: var(--oxford-blue);
}

.footer {
  color: var(--cream);
  font-family: var(--page-font);
  font-style: italic;
}